.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 2rem;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
}

.nav__links {
  display: flex;
  gap: 1.5rem;
  color: #fff;
}
.nav a{
  @apply hover:text-pink-200;

}

.nav__links li:hover {
  text-decoration: none;
  cursor: pointer;
  @apply text-primary;
}

.nav__logo {
  height: 30px;
  cursor: pointer;
}

.close__icon__mobile {
  display: none;
}

.mobile__nav {
  display: none
}

.nav #showLinks {
  display: flex;
}

@media only screen and (max-width: 750px) {
  .main__navigation {
    display: none;
  }

  .mobile__nav {
    display: flex;
  }
  .nav__links {
    color: black;
  }

  .close__icon__mobile {
    display: flex;
    position: absolute;
    top: 15px;
    right: 20px;
  }

  .nav #showLinks {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 200;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }

  .nav #showLinks .nav__links {
    display: flex;
    flex-direction: column;
  }
}